/* .home{
    margin: auto;
} */

.col-rev{
    display: flex;
    flex-direction: row-reverse;
}

.aboutus {
    display: flex;
    width: 95%;
    margin: 1.5rem auto auto auto;
}

.aboutus > div:nth-child(1){
    width: 60%;
}

.aboutus > div:nth-child(1) > img{
    width: 100%;
}

.aboutus > div:nth-child(2){
    width: 40%;
    /* text-align: center; */
    /* border: 2px solid red; */
    background-color: var(--bgcolor);
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
}

.aboutus > div:nth-child(2) > div{
    width: 70%;
    margin: 20vh auto;
}

.aboutus > div:nth-child(2) h1, .aboutus > div:nth-child(2) h3{
    font-family: var(--homePage--font-family);
    font-size: 3rem;
    color: var(--homePage-textColor);
}

.aboutUsBtn{
    border: none;
    color: var(--homePage-textColor);
    background-color: var(--bgcolor);
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: underline;
    transition: 1s;
    font-size: 1rem;
}

.aboutUsBtn:hover{
    background-color: var(--btn-transitionColor);
    cursor: pointer;
}

.safety-img{
    margin: 0 auto auto auto;
}

.safety-img > div:nth-child(1) {
    width: 60%;
    background-color: var(--blur-bg);
    /* align-content: center; */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.safety-img > div:nth-child(2){
    width: 40%;
    text-align: center;
}

.safety-img > div:nth-child(1) > div{
    width: 60%;
    /* margin: 30% auto auto auto; */
}

.safety-img > div:nth-child(1) > img{
    width: 50%;
}

.approach{
    width: 95%;
    margin: 1.5rem auto auto auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.approachCards{
    position: relative;
    width: 100%;
    /* border: 1px solid red; */
    /* opacity: 0.1; */
}
.approachCards > img{
    width: 100%;
}
.imgOpacity{
    opacity: 0;
}
.approachCards > div{
    width: 100%;
    line-height: 25px;
    width: 50%;
    padding: 40px;
    position: absolute;
    top: 20px;
} 
.whiteFont{
    color: var(--font--color2);
}
.allignRight{
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {

    .aboutus {
        margin: 0px auto auto auto;
        flex-direction: column;
        width: 100%;
        /* border: 2px solid red; */
    }

    .aboutus > div:nth-child(1){
        width: 100%;
        /* border: 2px solid red; */
    }

    .aboutus > div:nth-child(1) > img{
        background-repeat: no-repeat;
        background-size: contain;
        }
    .aboutus > div:nth-child(2){
        width: 100%;
        /* text-align: center; */
        /* border: 2px solid red; */
        background-color: var(--bgcolor);
    }
    .aboutus > div:nth-child(2) >div {
        width: 100%;
        text-align: center;
       
    }
    .aboutus >div:nth-child(2){
        font-size: small;
    }
    .approach{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .approachCards{
        margin: 0;
    }
    .approachCards > div{
        width: 80%;
        padding: 10px;
        position: absolute;
    } 

}