/* .home{
    margin: auto;
} */

.col-rev{
    display: flex;
    flex-direction: row-reverse;
}

.aboutus {
    display: flex;
    width: 95%;
    margin: 1.5rem auto auto auto;
}

.aboutus > div:nth-child(1){
    width: 60%;
}

.aboutus > div:nth-child(1) > img{
    width: 100%;
}

.aboutus > div:nth-child(2){
    width: 40%;
    /* text-align: center; */
    /* border: 2px solid red; */
    background-color: var(--bgcolor);
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
}

.aboutus > div:nth-child(2) > div{
    width: 70%;
    margin: 20vh auto;
}

.aboutus > div:nth-child(2) h1, .aboutus > div:nth-child(2) h3{
    font-family: var(--homePage--font-family);
    font-size: 3rem;
    color: var(--homePage-textColor);
}

.aboutUsBtn{
    border: none;
    color: var(--homePage-textColor);
    background-color: var(--bgcolor);
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: underline;
    transition: 1s;
    font-size: 1rem;
}

.aboutUsBtn:hover{
    background-color: var(--btn-transitionColor);
    cursor: pointer;
}

.safety-img{
    margin: 0 auto auto auto;
}

.safety-img > div:nth-child(1) {
    width: 60%;
    background-color: var(--blur-bg);
    /* align-content: center; */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.safety-img > div:nth-child(2){
    width: 40%;
    text-align: center;
}

.safety-img > div:nth-child(1) > div{
    width: 60%;
    /* margin: 30% auto auto auto; */
}

.safety-img > div:nth-child(1) > img{
    width: 50%;
}

.approach{
    width: 95%;
    margin: 1.5rem auto auto auto;
}

.approachDetails{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* width: 100%; */
}

.approachHeading{
    color: var(--homePage-textColor);
}


.approachImg1{
    background-image: url(../assets/approach1.png);
}

.approachImg2{
    background-image: url(../assets/approach2.png);
}

.backgroundImg{
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100%;
}

.btnOnImg{
    background-color: transparent;
    color: white;
}

.btnOnImg:hover{
    background-color: transparent;
}

.admission{
    background-color: var(--bgcolor);
    text-align: center;
}

@media (max-width: 1024px) {

    .aboutus {
        margin: 0px auto auto auto;
        flex-direction: column;
        width: 100%;
        /* border: 2px solid red; */
    }

    .aboutus > div:nth-child(1){
        width: 100%;
        /* border: 2px solid red; */
    }

    .aboutus > div:nth-child(1) > img{
        background-repeat: no-repeat;
        background-size: contain;
        }
    .aboutus > div:nth-child(2){
        width: 100%;
        /* text-align: center; */
        /* border: 2px solid red; */
        background-color: var(--bgcolor);
    }
    .aboutus > div:nth-child(2) >div {
        width: 100%;
        text-align: center;
       
    }
    .aboutus >div:nth-child(2){
        font-size: small;
    }

    .approachDetails{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }

    .approachDetails > div{
        margin: auto;
    }

}