.home{
    width: 90%;
    margin: 3rem auto;
}

.info{
    display: flex;
    justify-content: space-between;
    padding: 60px 50px;
}

.quote{
    font-size: 2rem;
    font-style: italic;
}

.quote > span{
     color: var(--bgcolor);
}

.aboutus {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.aboutus > div{
    margin-bottom: 2rem;
}

.aboutus > div:nth-child(2) h1, .aboutus > div:nth-child(2) h3{
    font-family: var(--homePage--font-family);
    font-size: 3rem;
    color: var(--homePage-textColor);
}

.aboutUsBtn{
    border: none;
    color: var(--homePage-textColor);
    background-color: var(--bgcolor);
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: underline;
    transition: 1s;
    font-size: 1rem;
}

.aboutUsBtn:hover{
    background-color: var(--btn-transitionColor);
    cursor: pointer;
}

.safetyFirst{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    
    .info{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .info h3{
        margin-top: 2rem;
    }

    .aboutus {
        flex-direction: column-reverse;
    }
}