.welcome{
    width: 90%;
    margin: 3rem auto auto auto;
    display: flex;
    flex-direction: row;
}
.welcome >div:nth-child(1),
.welcome >div:nth-child(2){
width: 50%;
display: flex;
justify-content: center;
align-items: center;
/* height: 110vh; */
/* border: 1px solid red; */
}
.welcome >div:nth-child(1) > div,
.welcome >div:nth-child(2) > div{
width: 75%;
text-align: center;
/* border: 1px solid forestgreen; */
height: auto;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.welcome img{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.welcome h1{
    margin-bottom: 2rem;
    font-size: 38px;
}
.welcome p{
    margin-bottom: 3rem;
    text-align: left;
}
.hardColor{
    background-color: var(--style-color5);
}
.softColor{
    background-color: var(--style-color3);
}
.faculty{
    width: 90%;
    background-color: var(--style-color3);
    margin: 3rem auto;
}
.faculty{
    padding: 80px;
}
.faculty > span{
    display: block;
    margin-bottom: 3rem;
}
.faculty > span > h1{
    margin-bottom: 10px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    width: 70%;
    margin: auto;
}
.card{
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
}
.card div{
    position: absolute;
    top: 60%;
    /* height: 60vh; */
    width: 100%;
    /* clip-path: inset(0 10% 0 10%); */
    text-align: center;
    overflow: hidden;
}
.card img{
  width: 100%; /* Ensure images fill the container horizontally */
    height: 100%; /* Ensure images fill the container vertically */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    display: block;
}
.blue{
    background-color: var(--style-color4);
    /* color: var(--font--color2); */
}
.blueBlur{
    background-color: var(--blur-bg);

}
.red{
    background-color: var(--style-color2);
    color: var(--font--color2);
}
.whiteFont{
    color: var(--font--color2);
}
@media (max-width: 1024px) {
    .welcome{
        width: 100%;
        margin: 0rem auto auto auto;
        display: flex;
        flex-direction: column;
    }
    .welcome >div:nth-child(1),
.welcome >div:nth-child(2){
width: 100%;
display: flex;
justify-content: center;
align-items: center;
/* height: 110vh; */
/* border: 1px solid red; */
}
.faculty{
    width: 100%;
    margin: 10px 0 0 0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.card{
    height: 100vh;
}


}